{% extends 'base.html' %} 
{% load static %} 
{% block title %}About{% endblock title %} 
{% block css_block %}
<link rel="stylesheet" href=" {% static 'css/about.css' %} " />
{% endblock css_block %}
 {% block body %}
<div class="container min-h-100">
    <div class="mainAbout">
        <header>
            <h1>About Us</h1>
        </header>

        <section>
            <h2>
                Welcome to WordCount Pro - Your Ultimate Word Analysis
                Companion!
            </h2>
            <p>
                At WordCount Pro, we are passionate about words and dedicated to
                making your writing experience smoother and more insightful. Our
                app is designed with one goal in mind: to provide you with
                accurate and efficient word and character counting tools, as
                well as a host of other essential features for writers and
                content creators.
            </p>
        </section>

        <section>
            <h2>Our Mission</h2>
            <p>
                Our mission is to empower writers, students, professionals, and
                anyone who works with words to enhance their productivity and
                efficiency. We believe that words are the building blocks of
                effective communication, and understanding them is key to
                successful writing.
            </p>
        </section>

        <section>
            <h2>Key Features</h2>
            <ul>
                <li>
                    <strong>Total Character Count:</strong> Get an accurate
                    count of characters in your text, including spaces and
                    special characters, to ensure you meet character limits.
                </li>
                <li>
                    <strong>Total Word Count (Excluding Whitespaces):</strong>
                    Count words without the interference of whitespaces,
                    allowing you to gauge the true content of your text.
                </li>
                <li>
                    <strong>Total Word Count:</strong> Count all words in your
                    text, regardless of spaces, for a comprehensive view of your
                    document's size.
                </li>
                <li>
                    <strong>Total Paragraphs:</strong> Quickly identify the
                    number of paragraphs in your text, making it easier to
                    format and structure your content.
                </li>
                <li>
                    <strong>Text File Saving:</strong> Save your valuable text
                    files with ease, so you can access and edit them whenever
                    you need.
                </li>
                <li>
                    <strong>Upload File Feature:</strong> Easily upload text
                    files to our platform for quick analysis and word counting.
                </li>
                <li>
                    <strong>Membership Options:</strong> Unlock even more
                    advanced features and benefits by becoming a WordCount Pro
                    member. Our membership plans offer exclusive tools and
                    premium support to take your writing to the next level.
                </li>
            </ul>
        </section>

        <section>
            <h2>Our Commitment</h2>
            <p>
                We are committed to providing you with a reliable,
                user-friendly, and feature-rich platform that simplifies the
                word counting process. Our team of dedicated professionals is
                constantly working to improve WordCount Pro, ensuring it meets
                the evolving needs of writers and content creators like you.
            </p>
        </section>

        <section>
            <h2>Join Us Today!</h2>
            <p>
                Whether you're a student working on an essay, a professional
                crafting an important report, or a writer polishing your
                masterpiece, WordCount Pro is here to assist you every step of
                the way. Join us today and experience the power of precision in
                word counting and document analysis.
            </p>
        </section>
        <hr />
        <footer>
            <p>
                Thank you for choosing WordCount Pro as your word analysis
                companion. We look forward to being a valuable part of your
                writing journey.
            </p>
        </footer>
    </div>
</div>
{% endblock body %}
