{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css_block %}{% endblock css_block %}
    <title>{% block title %}
        {% endblock title %} | Word Count</title>
    <script async src="{% static 'js/base.js' %}"></script>
    
</head>
<body>
    <div class="mainNoti" id="notiMessage">
        {% if messages %}
        {% for message in messages %}
            <div class="notiMessage {{message.tags}}">
                <p>{{message}} </p>
                <img class="icon-10" src="{% static 'icon/delete.svg' %}" alt="delete" onclick="deleteNoti(this)">
            </div>
        {% endfor %}

    </div>
{% endif %}
</div>

{% comment %}  {% endcomment %}

<nav>
    <p class="bar" id="bar" onClick="showNavBar(this)">
        &#8801;
    </p>

    <ul id="navbar" class="navul">
        <li class="navli"> <a id="homeId" href="/" onClick="showNavBar(this)">Home</a> </li>
        <li class="navli"> <a id="membershipId" href="/membership">Membership</a> </li> 
        <li class="navli"> <a id="contactId" href="/contact">Contact</a> </li>
        <li class="navli"> <a id="aboutId" href="/about">About</a> </li>
        {% if user %}
            <li><a href="/history" id="historyId">History</a></li>
        {% endif %}


        <li class="login"> 
            {% if user %}
            <a href="/logout"> Logout </a> </li>
            {% else %}
            <a id="loginId" href="/login"> Login </a>
            <a id="signupId" href="/signup"> Sign up </a> 
            {% endif %}
    </ul>
</nav>

<div class="temp">

</div>



{% comment %}  {% endcomment %}

    {% block body %}
    
    {% endblock body %}

    <footer class="footer">
        <p>Copyright &copy; 2023 wordcount.com</p>
        <span>
            
            <a href=""> <img class="icon-8" src="{% static 'icon/insta-footer.svg' %}" alt="insta-footer"> </a>
            <a href=""> <img class="icon-8" src="{% static 'icon/facebook-footer.svg' %}" alt="insta-footer"> </a>
            <a href=""> <img class="icon-8" src="{% static 'icon/twitter-footer.svg' %}" alt="insta-footer"> </a>
        </span>

    </footer>
</body>
{% block js %}{% endblock js %}
</html>