{% extends 'base.html' %}
{% load static %}
{% block title %}Forgot Passwrod{% endblock title %}
{% block css_block %}
 <link rel="stylesheet" href=" {% static 'css/signup.css' %} "> 
 {% endblock css_block %}

 {% block body %}
 
 <div class="container login-container">
    
    <form class="loginDiv mary-2" action="/forgotpassword" method="POST">
        {% csrf_token %}
        <span class="loginIcon">
            <img class="icon-12" src="{% static 'icon/forgot-password.svg' %}" alt="login-icon">
            <h3>Forgot Password</h3>
        </span>

        <hr class="hr-normal mary-1">

        {% comment %} <form action="/login"> {% endcomment %}
            <label for="name">Enter your username</label><br>
            <input type="text" placeholder="Enter your username" name="username" required autofocus><br>

            <label for="passw">Enter your password</label><br>
            <input type="password" id="passw" name="password" placeholder="Enter your password" required><br>

            <label for="re-passw">Renter your password</label><br>
            <input type="password" id="re-passw" placeholder="Renter your password" onkeyup="checkPassword()"  required><br>

            <button id="smt-btn" class="btn-sec bdrround">Forgot</button>
        {% comment %} </form> {% endcomment %}

    </form>
</div>

 {% endblock body %}

 {% block js %}
 <script src="{% static 'js/signup.js'%}"></script>
 {% endblock js %}