{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block css_block %} <link rel="stylesheet" href=" {% static 'css/login.css' %}"> {% endblock css_block %}

{% block body %}
<div class="container login-container">
    
    <form class="loginDiv mary-2" action="login" method="POST">
        {% csrf_token %}
        <span class="loginIcon">
            <img class="icon-12" src="{% static 'icon/login.svg' %}" alt="login-icon">
            <h3>Login</h3>
        </span>

        <hr class="hr-normal mary-1">

        {% comment %} <form action="/login"> {% endcomment %}
            <label for="username">Enter your email:</label><br>
            <input type="text" id="email" name="username" placeholder="Enter your email" required autofocus><br>

            <label for="passw">Enter your password</label><br>
            <input type="password" id="passw" name="password" placeholder="Enter your password" required><br>

            <p><a href="/forgotpassword">forgot password?</a></p><br>

            <button class="btn-primary bdrround">Login</button>
        {% comment %} </form> {% endcomment %}

    </form>
</div>
{% endblock body %}