@font-face {
    font-family: "RobotoSlab";
    src: url("/static/fonts/RobotoSlab-VariableFont_wght.ttf");
}

@font-face {
    font-family: "CantoraOne";
    src: url("/static/fonts/CantoraOne-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "RobotoSlab";
}

:root {
    --main-bg: rgba(0, 0, 0, 0.05);
    --bg-1: #d5f3fe;
    --primary: #007bff;
    --secondary: #6c757d;
    --info: #17a2b8;
    --success: #28a745;
    --warn: #ffc107;
    --danger: #dc3545;
    --dark: #343a40;
    --light: #f8f9fa;
    --white: #ffffff;
}

body {
    background: var(--main-bg);
    min-height: 100vh;
}
/* inheritance classes */

.container {
    width: 70vw;
    height: fit-content;
    /* border: 1px solid black; */
    margin: auto;
    background: white;
}

.bg-main {
    background: var(--main-bg) !important;
}

.icon-12 {
    width: 36px;
    height: 36px;
}

.icon-10 {
    width: 30px;
    height: 30px;
}

.icon-8 {
    width: 24px;
    height: 24px;
}
.hr-normal {
    height: 1px;
    width: 100%;
    background: black;
}

.hr-bold {
    height: 2px;
    background: black;
}

.padx-2 {
    padding-inline: 20px;
}

.pady-2 {
    padding-block: 20px;
}

.marx-1 {
    margin-inline: 10px;
}

.mary-1 {
    margin-block: 10px;
}

.marx-2 {
    margin-inline: 20px;
}

.mary-2 {
    margin-block: 20px;
}

.only-member {
    /* color: red; */
}

.only-member:after {
    content: "*";
    color: red;
}

.bdrround {
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    box-shadow: inset 1px 1px 3px black;
}

.bdrround:hover {
    box-shadow: 1px 1px 3px black;
}

.btn-primary,
.btn-sec,
.btn-info,
.btn-danger,
.btn-dark {
    padding: 10px;
    padding-inline: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 255, 0.436);
    color: white;
    cursor: pointer;
}

.btn-sec {
    background: #28a745 !important;
}

.btn-info {
    background: #17a2b8 !important;
}

.btn-danger {
    background: #dc3545;
}

.btn-dark {
    background: #343a40;
}

.textCen {
    text-align: center;
}

.min-h-100 {
    min-height: 100vh;
}

/* nav bar base.css */

nav {
    position: fixed;
    width: 98vw;
    top: 0;
    z-index: 60;
    background: rgb(33 37 41);
    background: black;
    padding: 10px;
    /* background: rgba(0, 128, 0, 0); */
    display: flex;
    min-height: 25px;
    height: fit-content;
    /* box-shadow: 2px 2px 2px white; */
}

.title {
    display: none;
    color: white;
    margin-right: 20px;
    /* width: 100%; */
    height: fit-content;
    cursor: pointer;
    margin-left: 5rem;
}

.title img {
    width: 50px;
}

.bar {
    position: absolute;
    right: 10px;
    top: 0;
    /* padding-inline: 10px; */
    border-radius: 5px;
    color: white;
    font-size: 2.5rem;
    visibility: hidden;
    margin-right: 10px;
    cursor: pointer;
    width: 20px;
    font-stretch: extra-expanded;
}

.navul {
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: 1s; */
    margin: 0;
}

.navli {
    list-style: none;
    margin-right: 2rem;
    font-size: large;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

a:hover {
    color: white;
}

.login {
    position: absolute;
    width: fit-content;
    right: 0;
}

.login * {
    margin-right: 10px;
}

.active {
    color: white !important;
}

.temp{
    width: 98vw;
    height: 40px;
}

/* for notification */


/* for base.html */
.mainNoti{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    margin-top: 50px;
}

.notiMessage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: white;
    border: 1px solid black;
    border-right: 10px solid black;
    border-radius: 10px 0 0 10px;
    transition: 0.5s;
    margin-top: 10px;
    z-index: 100;
}

.transparent{
    background: transparent !important;
}

.notiMessage p{
    margin-right:20px;
}

.notiMessage img{
    cursor: pointer;
}


.info{
    color:var(--info) !important;
}

.success{
    color:var(--success) !important;
}

.error{
    color: var(--danger) !important;
}

.warning{
    color: var(--warn);
}


/* for footer */

.footer {
    display: flex;
    background: black;
    color: rgba(255, 255, 255, 0.8);
    padding-inline: 10px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

@media screen and (max-width: 800px) {
    .temp{
        height: 70px;
    }
    nav {
        display: block;
        height: fit-content;
        min-height: 50px;
    }

    .title {
        display: flex;
        margin: 0;
        padding: 0;
    }

    .title img {
        margin-left: 0;
        left: 0;
    }

    .bar {
        visibility: visible;
    }

    .navul {
        display: none;
        flex-direction: column;
        padding: 0;
    }

    .navli {
        margin-bottom: 0.5rem;
        /* text-align: center; */
        font-size: large;
        margin-right: 0;
    }

    .login {
        display: flex;
        flex-direction: column;
        position: static;
        width: 100%;
    }

    .login * {
        margin-top: 10px;
        width: fit-content;
        height: fit-content;
    }

    
    .container {
        width: 97vw;
    }

    .mainMember {
        flex-direction: column !important;
        align-items: center !important;
    }

    .div-1 {
        width: 85% !important;
    }

    .icon-10 {
        width: 15px;
        height: 15px;
    }

    .wordAction {
        background-color: black;
        font-size: small;
        justify-content: space-between !important;
    }

    .wordAction span {
        /* border: 1px solid black; */
        border-radius: 2px;
    }

    .wordSocial {
        justify-content: space-between !important;
    }

    .loginDiv {
        width: 100% !important;
    }

    .loginIcon {
        margin-bottom: 20px !important;
    }
}
